body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7F7A7A;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #A09D9D;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#menu {
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #FFDE59;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #DAB729;
}

#content {
    margin-top: 20px;
}
